@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
body,
html,
#__next {
  width: 100%;
  height: 100%;
}

html * {
  @apply font-NanumSquareneo;
}

.backface-visible {
  backface-visibility: visible;
}

.backface-invisible {
  backface-visibility: hidden;
}

.transform-preserve3d {
  transform-style: preserve-3d;
}
.multiline-omit {
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;

  -webkit-box-orient: vertical;
  word-break: keep-all;
}
.custom-shadow {
  box-shadow: 20px 45px 35px rgba(0, 0, 0, 0.5);
}

.triangle {
  @apply h-0 w-0  border-[1rem] border-b-shelfColor border-t-[transparent] lg:border-[1.25rem]  2xl:border-[1.5rem];
}

@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BMHANNAAir";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.swiper {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.swiper-slide {
  height: auto !important;
}
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
